/* CSS Review */
body {
    background-color: black;
    text-align: center;
}

#bodyContent {
    background-color: white;
    margin-top: 7%
}


h1 {
    color: red;
}

h3 {
    color: blue;
}

h6 {
    color: yellow;
}

span {
    background-color: black;
}

#photoArea {
    width: 50%;
}